.btn, button {
  &:hover, &:active, &:focus, &:active:focus {
    outline:0!important;
  }
}

.btn {
  border-radius:$border-radius;
}

.btn-lg {
  font-weight: 600;
}

.btn-xl {
  font-size: 24px;
  padding: 12px 45px;
}

@mixin button($background, $background-hover, $color, $color-hover, $border, $border-hover) {
  background-color: $background;
  color:$color;
  border:3px solid $border;
  &:hover, &:active, &:focus, &:active:focus {
    background-color: $background-hover;
    color:$color-hover;
    border:3px solid $border-hover;
  }
}

.btn-primary {
  @include button($yellow, transparent, black, $yellow, $yellow, $yellow);
}

.btn-primary-odd {
  @include button($orange, transparent, white, $orange, $orange, $orange);
}

.btn-dark-trans {
  @include button(rgba(0, 0, 0, 0.5), black, white, white, rgba(0, 0, 0, 0.5), black);
}

.btn-border-dark {
  @include button(transparent, $main-color, $main-color, white, $main-color, $main-color);
}

.btn-border-primary {
  @include button(transparent, $yellow, $yellow, black, $yellow, $yellow);
}

.btn-border-trans {
  @include button(transparent, transparent, rgba(255, 255, 255, 0.5), white, rgba(255, 255, 255, 0.5), white);
}

.btn-control {
  float:left;
  height: 60px;
  width: 55px;
  padding: 0;
  font-size: 19px;
  color:white;
  background-color: transparent;
  border-radius: 0;
  border-right: 1px solid white;
  img {
    &.img-dark {
      display: none;
    }
  }
  &:hover {
    color:white;
    background-color: rgba(255, 255, 255, 0.15);
  }
  &[disabled]{
    color: rgba(255, 255, 255, 0.30);
    opacity: 0.7;
    &:hover {
      background-color: transparent;
    }
  }
}

.btn-tab {
  margin-right: 5px;
  padding: 20px 10px;
  color: grey;
  font-size: 16px;
  border-radius: 0;
  border: 0;
  border-bottom: 4px solid transparent;
  &:hover {
    color:grey;
    border-color: $orange;
    text-decoration: none;
  }
  &.active {
    color:$main-color;
    font-weight: 600;
    border-color: $orange;
    &:hover {
      color:$main-color;
    }
  }
}

.dropdown-left .dropdown-menu{
  right:0;
  left:auto;
}