.btn {
  border-radius:$border-radius;
  &:hover, &:active, &:focus, &:active:focus {
    outline:0;
  }
}

@mixin button($background, $background-hover, $color, $color-hover, $border, $border-hover) {
  background-color: $background;
  color:$color;
  border:3px solid $border;
  &:hover, &:active, &:focus, &:active:focus {
    background-color: $background-hover;
    color:$color-hover;
    border:3px solid $border-hover;
  }
}

.btn-primary {
  @include button($yellow, transparent, black, $yellow, $yellow, $yellow);
}

.dropdown-left .dropdown-menu{
  right:0;
  left:auto;
}