.ChecklistCtrl {
  background-color: $grey-light;
}

.checklist-page {
  .checklist-title {
    margin: 50px 0 80px 0;
  }
  > footer {
    margin-top: 20px;
  }
}

.checklist-box {
  max-width: 600px;
  margin: auto;
  background-color: white;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.2);
  main {
    padding: 50px 40px;
    .checkbox {
      float: left;
      width: 50%;
      margin-bottom: 20px;
      label {
        padding-left: 40px;
        font-size: 18px;
        font-weight: 600;
        input {
          margin-left: -40px;
          &:after {
            content: '';
            position: absolute;
            left: -3px;
            top: -3px;
            background-color: white;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            border: 2px solid $blue-soft;
            cursor:pointer;
          }
          &:checked {
            &:after {
              background-color: $blue-soft;
            }
          }
        }
      }
    }
  }
  footer {
    padding: 20px 30px;
    text-align: center;
    background-color: $blue-soft;
    button {
      margin: 0 30px;
      color:white;
      font-size: 18px;
      &:hover {
        text-decoration: none;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}