body {
  background-color:$grey-medium;
  color:$main-color;
  @include main-font(400);
  overflow-x:hidden;
}

.full-page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.logo-corner {
  .logo {
    padding: 10px 10px 0 20px;
    margin-top: 10px;
  }
}

.process-holder {
  position: relative;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  .process {
    height: 100%;
    width: 1%;
    background-color: $yellow;
  }
}

.program-page {
  .process-holder {
    height: 10px;
  }
}

.timer-holder {
  display: inline-block;
  .timer {
    position: relative;
    display: inline-block;
    .timer-time {
      position: absolute;
      top: 12px;
      bottom: 18px;
      left: 12px;
      right: 12px;
      padding: 32px 0px;
      border: 3px solid white;
      border-radius: 50%;
      text-align: center;
      font-size: 28px;
      font-weight: 700;
    }
  }
  .timer-type {
    margin-top: 5px;
    color: $yellow;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }
}

.box {
  margin:auto;
  width: 100%;
  max-width:450px;
  background-color: white;
  border-radius:$border-radius;
  header {
    text-align: center;
    padding-bottom: 40px;
    .box-title {
      margin: 0;
      @include main-font(700);
    }
  }
  .box-footer {
    padding-top: 20px;
  }
}

.popover {
  padding: 10px;
  .popover-title {
    padding-bottom: 0;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    border-bottom: 0;
  }
}

.modal {
  overflow-x: inherit!important;
  overflow-y: inherit!important;
  display:block;
  .modal-content {
    box-shadow: none;
    border:0;
  }
  .modal-dialog {
    width: 500px;
  }
  .modal-header {
    padding: 40px;
    border-bottom: 0;
    color:$orange;
    text-align: center;
    font-weight: 700;
    .close {
      position: absolute;
      top: -10px;
      right: -10px;
      color: white;
      width: 30px;
      height: 30px;
      margin-top: -2px;
      font-size: 23px;
      text-align: center;
      background-color: black;
      border-radius: 50%;
      border: 2px solid white;
      box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
  }
  .modal-body {
    padding: 0 40px;
  }
  .modal-footer {
    padding: 40px;
    text-align: center;
    border-top: 0;
  }
  &.modal-cyan {
    color:grey;
    .modal-header {
      color:$cyan;
    }
    .modal-body {
      p {
        color:grey;
        font-size: 20px;
        font-weight: 700;
      }
      ul {
        margin-top: 20px;
        li {
          font-size: 18px;
        }
      }
    }
  }
}

.list-check {
  li {
    position: relative;
    padding-left: 30px;
    &:before {
      position: absolute;
      left: 0;
      font-family: FontAwesome;
      content: "\f00c";
      color:$cyan;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
    }
  }
}

.owl-carousel {
  .owl-nav {
    position: absolute;
    .owl-prev {
      float: left;
      background:url(/app/img/icons/slider/prev-white.png) no-repeat center center;
      &:hover {
        background:url(/app/img/icons/slider/prev-geel.png) no-repeat center center;
      }
    }
    .owl-next {
      float: right;
      background:url(/app/img/icons/slider/next-white.png) no-repeat center center;
      &:hover {
        background:url(/app/img/icons/slider/next-geel.png) no-repeat center center;
      }
    }
    .owl-prev.disabled {
      opacity:0.3!important;
      cursor:default;
      &:hover {
        background:url(/app/img/icons/slider/prev-white.png) no-repeat center center;
      }
    }
    .owl-next.disabled {
      opacity:0.3!important;
      cursor:default;
      &:hover {
        background:url(/app/img/icons/slider/next-white.png) no-repeat center center;
      }
    }
  }
}

.dark-details {
  .owl-carousel {
    .owl-nav {
      .owl-prev {
        background:url(/app/img/icons/slider/prev-zwart.png) no-repeat center center;
        &:hover {
          background:url(/app/img/icons/slider/prev-geel.png) no-repeat center center;
        }
      }
      .owl-next {
        background:url(/app/img/icons/slider/next-zwart.png) no-repeat center center;
        &:hover {
          background:url(/app/img/icons/slider/next-geel.png) no-repeat center center;
        }
      }
      .owl-prev.disabled {
        opacity:0.3!important;
        cursor:default;
        &:hover {
          background:url(/app/img/icons/slider/prev-zwart.png) no-repeat center center;
        }
      }
      .owl-next.disabled {
        opacity:0.3!important;
        cursor:default;
        &:hover {
          background:url(/app/img/icons/slider/next-zwart.png) no-repeat center center;
        }
      }
    }
  }
}

.action-slides-holder, .program-action-trends {
  .item {
    width: 100%;
    min-height: 500px;
    padding: 40px;
    .slide-title {
      color:white;
      font-weight: 800;
      font-size:50px;
      line-height: 54px;
    }
    .slide-count {
      margin: 20px 0;
      font-size: 30px;
      span {
        margin-right: 20px;
        &.active {
          color:$yellow;
        }
      }
    }
    .slide-img {
      max-width: 100%;
    }
    .slide-timer-holder {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .owl-nav {
    top: 45%;
    left: -40px;
    right: -40px;
    div {
      height: 45px;
      width: 45px;
      padding: 8px 0px!important;
      border-radius: 50%;
      color:grey!important;
      text-align: center;
      font-size: 21px!important;
      line-height: 29px;
//      background-color: white!important;
      opacity: 1!important;
      &:hover {
        opacity: 1;
      }
    }
  }
}