body {
  background-color:$grey-medium;
  color:$main-color;
  @include main-font(400);
}

.box {
  margin:auto;
  width: 100%;
  max-width:450px;
  background-color: white;
  border-radius:$border-radius;
  header {
    text-align: center;
    padding-bottom: 40px;
    .box-title {
      margin: 0;
      @include main-font(700);
    }
  }
  .box-footer {
    padding-top: 20px;
  }
}