@mixin transition($what, $time, $how){
  -webkit-transition: $what $time $how;
  -moz-transition: $what $time $how;
  -o-transition: $what $time $how;
  transition: $what $time $how;
}

.is-relative {
  position: relative;
}
.is-inline {
  display: inline-block;
}
.clear { clear:both; }
.full-width {  width: 100%; }
.full-height {  height: 100%; }
.uppercase {text-transform: uppercase; }
.align-center { text-align: center; }

.no-margin {
  margin: 0;
}

.margin-top-0 {
  margin-top: 0;
}

.display-table {
  display: table;
}
.table-cell {
  display:table-cell;
  vertical-align: middle;
}

.hidden-text {
  text-indent: -9999px;
  position: absolute;
  visibility: hidden;
  color: transparent;
  width: 1px;
  height: 1px;
}

.white {color:white;}