body.LoginCtrl {
  background-color: $blue-dark;
}

.login-page {
  .logo-holder{
    padding: 50px;
    text-align: center;
    @media (max-width:$large){
      padding: 40px;
      img {
        width: 130px;
      }
    }
  }
}

.login-box {
  padding: 40px;

  #login-submit {
    text-transform: uppercase;
    @include main-font(800);
  }

  .forgot-password {
    margin: 10px 0;
  }
}

.login-links {
  margin: 30px 0;
  text-align: center;
  color:lightgrey;
  p {
    margin-bottom: 5px;
  }
}