.OverviewCtrl {
  background-color: white;
}

.overview-page {
  .overview-title {
    margin: -50px 0 80px 0;
  }
  .to-checklist {
    margin-top: 130px;
  }
}

.overview-carousel-holder {
  background-color: $grey-medium-light;
  height: 320px;
  .owl-stage {
//    background-color: $grey-medium-light;
    margin-bottom: 95px;
  }
  .owl-item {
    padding: 75px 0;
    border-right: 1px solid $grey-medium;
    &:first-child {
      border-left: 1px solid $grey-medium;
    }
    .overview-item {
      height: 170px;
      .overview-content {
        height: 100%;
        margin: 0 -1px;
        padding: 20px;
        .overview-item-title {
          height: 60px;
          color:white;
          font-weight: 600;
          font-size: 23px;
        }
        p {
          font-size: 16px;
        }
        .overview-item-description {
          color:white;
        }
        &.basic {
          background-color: $yellow;
        }
        &.refresh {
          background-color: $pink-soft;
        }
        &.think {
          background-color: $green-soft;
        }
        &.ideas {
          background-color: $blue-soft;
        }
      }
      .item-time {
        position: absolute;
        bottom: -55px;
        right: 0px;
        font-weight: 600;
        font-size: 22px;
        &.time-start {
          left:0px;
          right:auto;
        }
      }
    }
  }
  .owl-controls {
//    position: absolute;
//    left: 0;
//    right: 0;
    .owl-nav {
      top: 140px;
      left: -50px;
      right: -50px;
      @media (max-width:$large) {
        left: -42px;
        right: -42px;
      }
      div {
        height: 35px;
        width: 35px;
        background-color: white;
        color: $grey-medium;
        border-radius: 50%;
        text-align: center;
        font-size: 21px;
        line-height: 35px;
      }
    }
    .owl-dots {
      text-align: center;
      .owl-dot {
        span {
          display:inline-block;
          margin: 10px;
          width: 60px;
          height: 10px;
          border-radius: 3px;
          background-color: $grey-medium;
        }
        &.active {
          span {
            background-color: grey;
          }
        }
      }
    }
  }
}