.program-page {
  .program-title {
    font-size: 80px;
    font-weight: 800;
    @media(max-width: $large) {
      font-size: 60px;
    }
  }

  .program-footer {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 60px;
    border-top: 1px solid grey;
    .footer-text {
      float: left;
      margin: 0;
      padding: 0 23px;
      font-size: 18px;
      line-height: 59px;
      font-weight: 600;
      &.footer-title {
        color: #FFCA4C;
      }
      &.footer-time {
        border-right: 1px solid grey;
      }
    }
  }
}