.program-page {
  .container.thin {
    max-width: 850px;
  }
  .program-dark-logo {
    display:none;
  }
  .close-img-dark {
    display:none;
  }
  &.dark-details {
    .program-light-logo {
      display:none;
    }
    .program-dark-logo {
      display:block;
    }
    .close-img-dark {
      display:block;
    }
    .close-img-light {
      display:none;
    }
    .program-process-holder {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .process {
    @include transition(all, 0.5s, ease);
  }
  .close-program {
    position: absolute;
    top: 40px;
    right: 25px;
  }
  .program-name {
    padding-bottom: 20px;
    font-size: 30px;
    color: $yellow;
  }
  .program-title {
    margin: 50px 0 30px 0;
    font-size: 90px;
    font-weight: 800;
    &.smaller {
//      font-weight: normal;
//      font-weight: 700;
      font-size: 80px;
    }
    @media(max-width: $large) {
      margin: 30px 0 20px 0;
      font-size: 60px;
    }
  }
  .program-description {
    @extend .font-lg;
    margin-bottom: 30px;
  }
  .program-timer-holder {
    position: absolute;
    bottom: 120px;
    right: 40px;
  }
  .program-buttons {
    button:nth-child(2) {
      margin-left: 20px;
    }
  }

  .program-footer {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 60px;
    border-top: 1px solid white;
    z-index: 2;
    .footer-text {
      float: left;
      margin: 0;
      padding: 0 23px;
      font-size: 18px;
      line-height: 59px;
      font-weight: 600;
      &.footer-title {
        color: #FFCA4C;
      }
      &.footer-time {
        border-right: 1px solid white;
      }
    }
  }
  &.dark-details {
    .program-footer {
      border-top: 1px solid black;
      .btn-control {
        border-right: 1px solid black;
        color:black;
        img {
          &.img-dark {
            display: block;
          }
          &.img-light {
            display: none;
          }
        }
      }
      .footer-text {
        &.footer-title {
          color: $main-color;
        }
        &.footer-time {
          color: $main-color;
          border-right: 1px solid black;
        }
      }
    }
  }
  .owl-dots {
    text-align:center;
    .owl-dot {
      span {
        width: 19px;
        height: 19px;
        margin: 5px 15px;
//        background-color: rgba(253, 253, 253, 0.63);
      }
      &.active span {
        background-color: $yellow;
      }
    }
  }
}

.program-img {
  margin-top: 50px;
  max-width: 100%;
}

.program-start {
  .program-title {
    margin: 100px 0 80px 0;
  }
}

.program-action {
  &.program-action-wrong {
    .program-title-holder {
      .program-title {
        padding: 50px 20px;
        color:white;
        border:18px solid white;
      }
    }
    .program-title-top-holder {
      .program-title {
        color:$yellow;
      }
    }
  }
}

//.program-action-slides {
  .program-title-top-holder {
    margin-top: -100px;
    min-height: 120px;
    border-bottom: 3px solid white;
    .program-title {
      font-size: 50px;
      font-weight: 500;
      color:white;
      @media(max-width: $large) {
        font-size: 40px;
      }
    }
  }
//}

.program-explain {
  .explain-container {
    position: relative;
    margin-top: -50px;
    .program-title {
      margin-top: -10px;
      font-size: 65px;
    }
    .program-description {
      padding: 0 100px;
    }
  }
  img.explain-img {
    height: 360px;
    width: auto;
    max-width: 100%;
    margin: 10px auto -5px auto;
    @media(max-width: $large){
      height: 310px;
    }
  }
  .program-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .owl-nav {
    top: 45%;
    left: -40px;
    right: -40px;
    @media (max-width:$large) {
      left: 0px;
      right: 0px;
    }
    div {
      height: 45px;
      width: 45px;
      padding: 8px 0px;
      border-radius: 50%;
      color:white;
      text-align: center;
      font-size: 21px;
      line-height: 29px;
      background-color: black;
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.program-action-trends {
  &.theme-fuchsia {
    .slide-title {
      span {
        color:#f33e98;
      }
    }
    .slide-img {
      border:10px solid #f33e98;
    }
  }
  .switch-trend {
    margin-bottom: 20px;
  }
  .slide-credits {
    margin-top: 15px;
    color:grey;
  }
}

.program-quote {
  .program-title {
    font-weight: 600;
  }
}

.program-break {
  .program-title {
    margin-top: 0;
  }
}

.program-page-random {
  .owl-dots {
    display: none;
  }
}

.program-alarm {
  z-index: 1;
  .alarm-img {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spaceboots;
    -moz-animation-duration: 0.8s;
    -moz-transform-origin:50% 50%;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: spaceboots;
    animation-duration: 0.8s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}