.program-page {
  .program-dark-logo {
    display:none;
  }
  &.dark-details {
    .program-light-logo {
      display:none;
    }
    .program-dark-logo {
      display:block;
    }
    .program-process-holder {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .process {
    @include transition(all, 0.5s, ease);
  }
  .close-program {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: grey;
  }
  .program-title {
    margin: 50px 0 30px 0;
    font-size: 80px;
    font-weight: 800;
    @media(max-width: $large) {
      margin: 30px 0 20px 0;
      font-size: 60px;
    }
  }
  .program-description {
    @extend .font-lg;
    margin-bottom: 30px;
  }
  .program-timer-holder {
    position: absolute;
    bottom: 120px;
    right: 40px;
  }

  .program-footer {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 60px;
    border-top: 1px solid white;
    z-index: 2;
    .footer-text {
      float: left;
      margin: 0;
      padding: 0 23px;
      font-size: 18px;
      line-height: 59px;
      font-weight: 600;
      &.footer-title {
        color: #FFCA4C;
      }
      &.footer-time {
        border-right: 1px solid white;
      }
    }
  }
  &.dark-details {
    .program-footer {
      border-top: 1px solid black;
      .btn-control {
        border-right: 1px solid black;
        color:black;
        img {
          &.img-dark {
            display: block;
          }
          &.img-light {
            display: none;
          }
        }
      }
      .footer-text {
        &.footer-title {
          color: $main-color;
        }
        &.footer-time {
          color: $main-color;
          border-right: 1px solid black;
        }
      }
    }
  }
}

.program-start {
  .program-title {
    margin: 100px 0 80px 0;
  }
}

.program-action-slides {
  .program-title-holder {
    margin-top: -100px;
    min-height: 120px;
    border-bottom: 1px solid white;
    .program-title {
      font-size: 50px;
      font-weight: 500;
      @media(max-width: $large) {
        font-size: 40px;
      }
    }
  }
}

.program-explain {
  .explain-container {
    position: relative;
    margin-top: -50px;
    .program-title {
      margin-top: -10px;
      font-size: 65px;
    }
    .program-description {
      padding: 0 100px;
    }
  }
  img.explain-img {
    height: 310px;
    width: auto;
    max-width: 100%;
    margin: 10px auto;
  }
  .program-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .owl-nav {
    top: 45%;
    left: -40px;
    right: -40px;
    @media (max-width:$large) {
      left: 0px;
      right: 0px;
    }
    div {
      height: 45px;
      width: 45px;
      padding: 8px 0px;
      border-radius: 50%;
      color:white;
      text-align: center;
      font-size: 21px;
      line-height: 29px;
      background-color: black;
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.program-quote {
  .program-title {
    font-weight: 600;
  }
}

.program-alarm {
  z-index: 1;
}