.setup-page {
  color:white;
  .setup-main {
    height: 700px;
    @media (max-width:$large) {
      height: 550px;
    }
  }
  .setup-process-holder {
    .setup-process {
      width: 16%;
    }
  }
  .setup-container {
    max-width: 1000px;
    @media (max-width:$large) {
      margin-top: -40px;
    }
  }
  .setup-nr, .setup-done-text {
    margin: -10px 0 50px 0;
    text-align: center;
  }
  .setup-title {
    margin: 50px 0;
    text-align: center;
    @media (max-width:$large) {
      margin: 40px 0;
    }
  }
  .setup-choices {
    text-align: center;
    ul {
      margin:auto;
      li {
        margin: 0 30px;
        width: 210px;
        vertical-align: top;
        cursor: pointer;
      }
    }
  }
  .setup-choice {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    border: 10px solid white;
    img {
      width: 100%;
    }
    .img-hover {
      display: none;
    }
    &:hover {
      background-color: transparent;
      border-color:white;
      .img {
        display: none;
      }
      .img-hover {
        display: block;
      }
    }
  }
  .setup-choice-label {
    font-size: 28px;
    font-weight: 600;
    @media (max-width:$large) {
      font-size: 20px;
    }
  }
  #setup-focus {
    margin-bottom: 40px;
  }
  #to-program {
    margin-right: 20px;
  }
  #step-back {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .setup-footer {
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    right: 0;
//    padding-bottom: 100px;
  }
  .setup-bullets {
    margin: 0;
    text-align: center;
    .setup-bullet {
      width: 20px;
      height: 20px;
      margin: 10px;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 50%;
      &.active {
        background-color: $yellow;
      }
    }
  }

  &.setup-page-1 {
    background-color: $purple;
  }
  &.setup-page-2 {
    background-color: $pink;
    .setup-process {
      width: 33%;
    }
  }
  &.setup-page-3 {
    background-color: $green;
    .setup-process {
      width: 50%;
    }
  }
  &.setup-page-4 {
    background-color: $blue;
    .setup-process {
      width: 66%;
    }
  }
  &.setup-page-5 {
    background-color: $cyan;
    .setup-process {
      width: 83%;
    }
  }
  &.setup-page-6 {
    background-color: $blue-dark;
    .setup-process {
      width: 100%;
    }
  }
}