.theme-page {
  color:white;
  h2, .theme-color {
    color:$yellow;
  }
}

.theme-page-white {
  color:white;
  h2, .theme-color {
    color:white;
  }
}

.theme-white {
  color:$main-color;
  background-color: $grey-light;
  h2, .theme-color {
    color:$main-color;
  }
}

.theme-blue-dark {
  background-color: $blue-dark;
}
.theme-blue {
  background-color: $blue;
}
.theme-cyan {
  background-color: $cyan;
}
.theme-ocean {
  background-color: $ocean;
}
.theme-green {
  background-color: $green;
}
.theme-red {
  background-color: $red;
}
.theme-pink {
  background-color: $pink;
}
.theme-purple {
  background-color: $purple;
}
.theme-eggplant {
  background-color: $eggplant;
}
.theme-brown {
  background-color: $brown;
}