.theme-page {
  color:white;
  h2, .theme-color {
    color:$yellow;
  }
}

.theme-page-white {
  color:white;
  h2, .theme-color {
    color:white;
  }
}

.theme-white {
  color:$main-color;
  background-color: $grey-light;
  h2, .theme-color {
    color:$main-color;
  }
}

.theme-blue-dark {
  background-color: $blue-dark;
}
.theme-blue-medium {
  background-color: $blue-medium;
}
.theme-blue {
  background-color: $blue;
}
.theme-blue-mint {
  background-color: $blue-mint;
}
.theme-cyan {
  background-color: $cyan;
}
.theme-ocean {
  background-color: $ocean;
}
.theme-green {
  background-color: $green;
}
.theme-red {
  background-color: $red;
}
.theme-orange {
  background-color: $orange;
}
.theme-pink {
  background-color: $pink;
}
.theme-coral {
  background-color: $coral;
}
.theme-purple {
  background-color: $purple;
}
.theme-purple-soft {
  background-color: $purple-soft;
}
.theme-eggplant {
  background-color: $eggplant;
}
.theme-dark {
  background-color: $dark;
}
.theme-grey {
  background-color: $grey;
}
.theme-brown {
  background-color: $brown;
}
.theme-brown-light {
  background-color: $brown-light;
}