@mixin main-font($weight) {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: $weight;
}

.font-lg { font-size: 30px; }

a {
  color:grey;
  &:hover {
    color:$blue-dark;
  }
  &:active:focus, &:focus {
    outline: 0;
  }
  &.link-yellow {
    color:$yellow;
    &:hover {
      color:$yellow;
    }
  }
  &.link-orange {
    color:$orange;
    &:hover {
      color:$orange;
    }
  }
}

h2 {
  font-weight: 600;
  &.font-lg {
    font-weight: 800;
    font-size: 64px;
    @media (max-width:$large) {
      font-size: 49px;
    }
  }
}