@mixin main-font($weight) {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: $weight;
}

a {
  color:grey;
  &:hover {
    color:$blue-dark;
  }
  &.link-yellow {
    color:$yellow;
    &:hover {
      color:$yellow;
    }
  }
  &.link-orange {
    color:$orange;
    &:hover {
      color:$orange;
    }
  }
}

h2 {
  font-weight: 600;
}