@mixin main-font($weight) {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: $weight;
}

a {
  color:grey;
  &:hover {
    color:$blue-dark;
  }
  &.yellow-link {
    color:$yellow;
    &:hover {
      color:$yellow;
    }
  }
}