//sass --watch app/scss:app/css

$main-color: #333;

$grey-light: #f8f7fb;
$grey-medium-light: #e5e5e5;
$grey-medium: #c7c5c5;

$blue: #1994af;
$blue-medium: #267d9f;
$blue-soft: #20b1ea;
$blue-mint: #148991;
$blue-dark: #2b2e3a;
$cyan: #06a485;
$ocean: #127656;
$green: #0e932a;
$green-soft: #77c04b;
$yellow2: #fbc035;
$yellow: #ffca4c;
$yellow-light: #fddc6c;
$orange: #e95922;
$red: #b5091f;  
$pink: #b30857;
$fuchsia: #8f014b;
$pink-soft: #eb6468;
$coral: #d8454a;
$purple: #5a267a;
$purple-soft: #513662;
$eggplant: #56173c;
$dark: #232731;
$grey: #3f5167;
$brown: #65452c;
$brown-light: #a46100;

$border-radius:6px;

$header-height:95px;


$small: 768px;
$medium: 992px;
$large: 1200px;



        //base
@import 'bootstrap.scss',
        'font-awesome',
        'owl-carousel',
        //general
        'animations.scss',
        'type.scss',
        'helpers.scss',
        'buttons.scss',
        'forms.scss',
        'general.scss',
        'themes.scss',
        //includes
        'header.scss',
        //pages
        'login.scss',
        'overview.scss',
        'setup.scss',
        'checklist.scss',
        'program.scss',
        'dashboard.scss';