<div class="setup-page full-page" ng-class="'setup-page-' + page">
    <header>
        <section class="setup-process-holder process-holder">
            <div class="setup-process process"></div>
        </section>
        <div class="container-fluid">
            <div ng-include="'/app/js/includes/logo-corner.html'"></div>
        </div>
    </header>
    <main class="setup-main">
        <div class="container setup-container">
            <div class="setup-nr font-lg">
                <span ng-if="page != 6">{{page}} / 5</span>
                <span ng-if="page == 6">Klaar!</span>
            </div>
            <h2 class="setup-title font-lg">
                <span ng-if="page == 1">Hoe lang wil je Brightstormen?</span>
                <span ng-if="page == 2">Met hoeveel mensen<br/>ga je nadenken?</span>
                <span ng-if="page == 3">Hoever wil je uit de<br/>comfort zone gaan?</span>
                <span ng-if="page == 4">Wat voor soort<br/>ideeën zoek je?</span>
                <span ng-if="page == 5">Wat is je focus?</span>
                <span ng-if="page == 6">Je bent klaar voor de perfecte Brightstorm</span>
            </h2>
            <div class="setup-choices">
                <ul class="list-inline" ng-repeat="step in setupSteps" ng-show="page == step.page">
                    <li class="popover-trigger"  ng-repeat="choice in step.choices" ng-click="setupPick(choice.id)"
                        data-container="body" data-toggle="popover" data-placement="bottom" title="{{choice.title}}"
                        data-content="{{choice.content}}">
                        <div class="setup-choice">
                            <img ng-src="/app/img/setup/{{choice.imgDark}}" class="img"/>
                            <img ng-src="/app/img/setup/{{choice.imgLight}}" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">
                            {{choice.description}}
                        </p>
                    </li>
                </ul>
                <form role="form" id="focus-form" name="focusForm" ng-if="page == 5" novalidate>
                    <div class="form-group-xl">
                        <textarea id="setup-focus" name="setupFocus" class="form-control input-trans" ng-model="focus" rows="3" required placeholder="Hoe kunnen we..."></textarea>
                        <button type="button" class="btn btn-link more-info pull-left" ng-click="moreInfo()">
                            <img src="/app/img/icons/information.png"/> Meer Uitleg
                        </button>
                        <button type="submit" class="btn btn-xl pull-right" ng-class="focusForm.setupFocus.$invalid ? 'btn-border-trans' : 'btn-primary'"
                                ng-click="setupPick(focus)" ng-disabled="focusForm.$invalid">Verder</button>
                    </div>
                </form>
                <div class="setup-done" ng-if="page == 6">
                    <p class="setup-done-text font-lg">Lees het programma voordat je begint en<br/>controleer met de checklist of je alles hebt.</p>
                    <div>
                        <a href="#/overview/{{program.id}}" id="to-program" class="btn btn-primary btn-xl">Programma</a>
                        <a href="#/dashboard" id="to-dashboard" class="btn btn-border-primary btn-xl">Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="setup-footer" ng-init="renderPopovers()">
        <div class="container">
            <div class="is-relative">
                <button id="step-back" class="btn btn-dark-trans" ng-click="stepBack()" ng-if="page != 1">
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                    Terug
                </button>
                <ul class="setup-bullets list-inline" ng-if="page != 6">
                    <li><div class="setup-bullet" ng-class="page == 1 ? 'active' : ''"></div></li>
                    <li><div class="setup-bullet" ng-class="page == 2 ? 'active' : ''"></div></li>
                    <li><div class="setup-bullet" ng-class="page == 3 ? 'active' : ''"></div></li>
                    <li><div class="setup-bullet" ng-class="page == 4 ? 'active' : ''"></div></li>
                    <li><div class="setup-bullet" ng-class="page == 5 ? 'active' : ''"></div></li>
                </ul>
            </div>
        </div>
    </footer>
</div>