<div class="setup-page full-page" ng-class="'setup-page-' + page">
    <header>
        <section class="setup-process-holder process-holder">
            <div class="setup-process process"></div>
        </section>
        <div class="container-fluid">
            <div ng-include="'/app/js/includes/logo-corner.html'"></div>
        </div>
    </header>
    <main class="setup-main">
        <div class="container setup-container">
            <div class="setup-nr font-lg">
                <span ng-if="page != 6">{{page}} / 5</span>
                <span ng-if="page == 6">Klaar!</span>
            </div>
            <h2 class="setup-title font-lg">
                <span ng-if="page == 1">Hoe lang wil je Brightstormen?</span>
                <span ng-if="page == 2">Met hoeveel mensen ga je nadenken?</span>
                <span ng-if="page == 3">Hoever wil je uit de comfort zone gaan?</span>
                <span ng-if="page == 4">Wat voor soort ideeën zoek je?</span>
                <span ng-if="page == 5">Wat is je focus?</span>
                <span ng-if="page == 6">Je bent klaar voor de perfecte Brightstorm</span>
            </h2>
            <div class="setup-choices">
                <ul class="list-inline" ng-if="page == 1">
                    <li ng-click="setupPick('1 uur')">
                        <div class="setup-choice">
                            <img src="/app/img/setup/setup-1a-black.png" class="img"/>
                            <img src="/app/img/setup/setup-1a-white.png" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">1 uur</p>
                    </li>
                    <li ng-click="setupPick('2 uur')">
                        <div class="setup-choice">
                            <img src="/app/img/setup/setup-1b-black.png" class="img"/>
                            <img src="/app/img/setup/setup-1b-white.png" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">2 uur</p>
                    </li>
                    <li ng-click="setupPick('3 uur')">
                        <div class="setup-choice">
                            <img src="/app/img/setup/setup-1c-black.png" class="img"/>
                            <img src="/app/img/setup/setup-1c-white.png" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">3 uur</p>
                    </li>
                </ul>
                <ul class="list-inline" ng-if="page == 2">
                    <li ng-click="setupPick('1')">
                        <div class="setup-choice">
                            <img src="/app/img/setup/setup-2a-black.png" class="img"/>
                            <img src="/app/img/setup/setup-2a-white.png" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">1</p>
                    </li>
                    <li ng-click="setupPick('2-5')">
                        <div class="setup-choice">
                            <img src="/app/img/setup/setup-2b-black.png" class="img"/>
                            <img src="/app/img/setup/setup-2b-white.png" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">2 - 5</p>
                    </li>
                    <li ng-click="setupPick('6-12')">
                        <div class="setup-choice">
                            <img src="/app/img/setup/setup-2c-black.png" class="img"/>
                            <img src="/app/img/setup/setup-2c-white.png" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">6 - 12</p>
                    </li>
                </ul>
                <ul class="list-inline" ng-if="page == 3">
                    <li ng-click="setupPick('easy')">
                        <div class="setup-choice">
                            <img src="/app/img/setup/setup-3a-black.png" class="img"/>
                            <img src="/app/img/setup/setup-3a-white.png" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">Ik blijf waar ik ben</p>
                    </li>
                    <li ng-click="setupPick('medium')">
                        <div class="setup-choice">
                            <img src="/app/img/setup/setup-3b-black.png" class="img"/>
                            <img src="/app/img/setup/setup-3b-white.png" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">Ik neem een gokje</p>
                    </li>
                    <li ng-click="setupPick('hard')">
                        <div class="setup-choice">
                            <img src="/app/img/setup/setup-3c-black.png" class="img"/>
                            <img src="/app/img/setup/setup-3c-white.png" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">Kom maar op!</p>
                    </li>
                </ul>
                <ul class="list-inline" ng-if="page == 4">
                    <li ng-click="setupPick('Verbeteringen')">
                        <div class="setup-choice">
                            <img src="/app/img/setup/setup-4a-black.png" class="img"/>
                            <img src="/app/img/setup/setup-4a-white.png" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">Verbeteringen</p>
                    </li>
                    <li ng-click="setupPick('Oplossingen')">
                        <div class="setup-choice">
                            <img src="/app/img/setup/setup-4b-black.png" class="img"/>
                            <img src="/app/img/setup/setup-4b-white.png" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">Oplossingen</p>
                    </li>
                    <li ng-click="setupPick('Kansen')">
                        <div class="setup-choice">
                            <img src="/app/img/setup/setup-4c-black.png" class="img"/>
                            <img src="/app/img/setup/setup-4c-white.png" class="img-hover"/>
                        </div>
                        <p class="setup-choice-label">Kansen</p>
                    </li>
                </ul>
                <form role="form" id="focus-form" name="focusForm" ng-if="page == 5" novalidate>
                    <div class="form-group-xl">
                        <textarea id="setup-focus" name="setupFocus" class="form-control input-trans" ng-model="focus" rows="3" required></textarea>
                        <button type="submit" class="btn btn-xl pull-right" ng-class="focusForm.setupFocus.$invalid && !focusForm.setupFocus.$pristine ? 'btn-border-trans' : 'btn-primary'"
                                ng-click="setupPick(focus)" ng-disabled="focusForm.$invalid">Verder</button>
                    </div>
                </form>
                <div class="setup-done" ng-if="page == 6">
                    <p class="setup-done-text font-lg">Lees het programma voordat je begint en controleer met de checklist of je alles hebt.</p>
                    <div>
                        <a href="#/overview/{{program.id}}" id="to-program" class="btn btn-primary btn-xl">Programma</a>
                        <a href="#/dashboard" id="to-dashboard" class="btn btn-border-primary btn-xl">Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="setup-footer">
        <div class="container">
            <div class="is-relative">
                <button id="step-back" class="btn btn-dark-trans" ng-click="stepBack()" ng-if="page != 1">
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                    Terug
                </button>
                <ul class="setup-bullets list-inline" ng-if="page != 6">
                    <li><div class="setup-bullet" ng-class="page == 1 ? 'active' : ''"></div></li>
                    <li><div class="setup-bullet" ng-class="page == 2 ? 'active' : ''"></div></li>
                    <li><div class="setup-bullet" ng-class="page == 3 ? 'active' : ''"></div></li>
                    <li><div class="setup-bullet" ng-class="page == 4 ? 'active' : ''"></div></li>
                    <li><div class="setup-bullet" ng-class="page == 5 ? 'active' : ''"></div></li>
                </ul>
            </div>
        </div>
    </footer>
</div>