<div class="program-page theme-page full-page">

    <!-- start -->
    <section class="program-start full-page theme-blue-dark" ng-if="current.type == 'start'">
        <div class="container-fluid is-relative">
            <div ng-include="'/app/js/includes/logo-corner.html'"></div>
            <button class="btn btn-link btn-icon close-program" ng-click="closeProgram()"><i class="fa fa-times"></i></button>
        </div>
        <div class="container">
            <div class="program-title-holder align-center">
                <h2 class="program-title">{{program.title}}</h2>
            </div>
            <div class="program-buttons align-center">
                <button class="btn btn-border-primary btn-xl" ng-click="next()">Start Brightstorm</button>
            </div>
        </div>
    </section>

    <!-- intro -->
    <section class="program-intro full-page theme-green" ng-if="current.type == 'intro'">
        <div ng-include="'/app/js/includes/program-process.html'"></div>
        <div class="container">
            <div class="program-title-holder align-center">
                <h2 class="program-title">Waar gaan we vandaag over nadenken?</h2>
                <p class="program-description">Bespreek kort de uitdaging.</p>
            </div>
            <div class="program-timer-holder">
                <timer-widget duration="current.time" type="'Plenair'"></timer-widget>
            </div>
        </div>
    </section>

    <!-- rules -->
    <section class="program-rules full-page theme-pink" ng-if="current.type == 'rules'">
        <div ng-include="'/app/js/includes/program-process.html'"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src=""/>
                </div>
                <div class="col-sm-6">
                    <div class="program-title-holder">
                        <h2 class="program-title">{{current.title}}</h2>
                        <p class="program-description">{{current.description}}</p>
                    </div>
                    <div class="program-buttons">
                        <button class="btn btn-primary btn-xl">Bekijk</button>
                        <button class="btn btn-border-primary btn-xl" ng-click="next()">Sla over</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- braindump -->
    <section class="program-braindump full-page theme-brown" ng-if="current.type == 'braindump' && !action">
        <div ng-include="'/app/js/includes/program-process.html'"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src=""/>
                </div>
                <div class="col-sm-6">
                    <div class="program-title-holder">
                        <h2 class="program-title">{{current.title}}</h2>
                        <p class="program-description">{{current.description}}</p>
                    </div>
                    <div class="program-buttons">
                        <button class="btn btn-primary btn-xl" ng-click="next()">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- whatif -->
    <section class="program-whatif full-page theme-cyan" ng-if="current.type == 'whatif' && !action">
        <div ng-include="'/app/js/includes/program-process.html'"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src=""/>
                </div>
                <div class="col-sm-6">
                    <div class="program-title-holder">
                        <h2 class="program-title">{{current.title}}</h2>
                        <p class="program-description">{{current.description}}</p>
                    </div>
                    <div class="program-buttons">
                        <button class="btn btn-primary btn-xl" ng-click="next()">Start</button>
                        <button class="btn btn-border-primary btn-xl" ng-click="next('skipAction')">Sla over</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- discusss -->
    <section class="program-discuss full-page theme-eggplant" ng-if="current.type == 'discuss'">
        <div ng-include="'/app/js/includes/program-process.html'"></div>
        <div class="container-fluid align-center">
            <div class="row">
                <div class="col-sm-3">
                    <img src=""/>
                </div>
                <div class="col-sm-6">
                    <div class="program-title-holder">
                        <h2 class="program-title">{{current.title}}</h2>
                        <p class="program-description">{{current.description}}</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src=""/>
                </div>
            </div>
            <div class="program-timer-holder">
                <timer-widget duration="current.time" type="'Plenair'" alarm="current.alarm"></timer-widget>
            </div>
        </div>
    </section>

    <!-- random -->
    <section class="program-random full-page theme-blue" ng-if="current.type == 'random' && !action">
        <div ng-include="'/app/js/includes/program-process.html'"></div>
        <div class="container align-center">
            <div class="program-title-holder">
                <h2 class="program-title">{{current.title}}</h2>
                <p class="program-description">{{current.description}}</p>
            </div>
            <div class="program-buttons">
                <button class="btn btn-primary btn-xl" ng-click="">Bekijk uitleg</button>
                <button class="btn btn-border-primary btn-xl" ng-click="next()">Start</button>
            </div>
        </div>
    </section>






    <!-- action -->
    <section class="program-action full-page" ng-class="current.action.class" ng-if="action && !current.action.slides">
        <div ng-include="'/app/js/includes/program-process.html'"></div>
        <div class="container">
            <div class="program-title-holder align-center">
                <h2 class="program-title">{{current.action.title}}</h2>
                <p class="program-description">{{current.action.description}}</p>
            </div>
            <div class="program-timer-holder">
                <timer-widget duration="current.action.time" type="'Plenair'" alarm="current.action.alarm"></timer-widget>
            </div>
        </div>
    </section>

    <!-- action slides -->
    <section class="program-action-slides full-page" ng-class="current.action.class" ng-if="action && current.action.slides">
        <div ng-include="'/app/js/includes/program-process.html'"></div>
        <div class="program-title-holder align-center">
            <div class="container">
                <h2 class="program-title">{{current.action.title}}</h2>
            </div>
        </div>
        <div class="container">
            <div class="action-slides-holder">
                <div id="action-slides-carousel" class="owl-carousel owl-theme">
                    <div class="owl-item item" ng-repeat="slide in current.action.slides track by $index" ng-class="$index == (current.action.slides.length - 1) ? 'active' : ''">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{{slide.img}}" class="slide-img"/>
                            </div>
                            <div class="col-sm-6">
                                <div class="slide-count">
                                    <span ng-repeat="count in current.action.slides track by $index" ng-class="$index == activeIndex ? 'active' : ''">{{$index + 1}}</span>
                                </div>
                                <p class="slide-title">{{slide.title}}</p>
                            </div>
                        </div>
                        <div class="slide-timer-holder" ng-if="$index == activeIndex">
                            <timer-widget duration="slide.time" type="'Plenair'" alarm="slide.alarm" slider="true"></timer-widget>
                        </div>
                        <div ng-init="initSlides()" ng-if="$index == (current.action.slides.length - 1)"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- explain -->
    <section class="program-explain full-page theme-white" ng-if="explain">
        <div ng-include="'/app/js/includes/program-process.html'"></div>
        <div class="program-title-holder align-center">
            <div class="container">
                <h2 class="program-title">{{current.action.title}}</h2>
            </div>
        </div>
        <div class="container">
            <div class="action-slides-holder">
                <div id="explain-slides-carousel" class="owl-carousel owl-theme">
                    <div class="owl-item item" ng-repeat="slide in current.explain.slides track by $index" ng-class="$index == (current.action.slides.length - 1) ? 'active' : ''">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{{slide.img}}" class="slide-img"/>
                            </div>
                            <div class="col-sm-6">
                                <div class="slide-count">
                                    <span ng-repeat="count in current.action.slides track by $index" ng-class="$index == activeIndex ? 'active' : ''">{{$index + 1}}</span>
                                </div>
                                <p class="slide-title">{{slide.title}}</p>
                            </div>
                        </div>
                        <div class="slide-timer-holder" ng-if="$index == activeIndex">
                            <timer-widget duration="slide.time" type="'Plenair'" alarm="slide.alarm" slider="true"></timer-widget>
                        </div>
                        <div ng-init="initSlides()" ng-if="$index == (current.action.slides.length - 1)"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- alarm -->
    <section class="program-alarm full-page theme-red" ng-if="alarm">
        <div ng-include="'/app/js/includes/program-process.html'"></div>
        <div class="container align-center">
            <div class="program-title-holder">
                <img src="/app/img/logo/logo-white.png" class="alarm-img"/>
                <h2 class="program-title">Het is tijd!</h2>
                <p class="program-description">Pennen neer. Het is nu tijd om de ideeën te bespreken</p>
            </div>
            <div class="program-buttons">
                <button class="btn btn-primary btn-xl" ng-click="next()">Oké</button>
            </div>
        </div>
    </section>


    <!-- footer -->
    <footer class="program-footer">
        <div class="pull-left">
            <button class="btn btn-control" id="program-previous"
                    ng-click="previous()" ng-disabled="currentIndex == 0">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button class="btn btn-control" id="program-pause"
                    ng-click="pause()" ng-if="!paused">
                <i class="fa fa-pause"></i>
            </button>
            <button class="btn btn-control" id="program-play"
                    ng-click="play()" ng-if="paused">
                <i class="fa fa-play"></i>
            </button>
            <button class="btn btn-control" id="program-sound">
                <i class="fa fa-volume-up"></i>
            </button>
            <p class="footer-text footer-title">Brightstorming</p>
        </div>
        <div class="pull-right">
            <p class="footer-text footer-time">15:31</p>
            <button class="btn btn-control" id="program-next"
                    ng-click="next()">
                <i class="fa fa-chevron-right"></i>
            </button>
            <button class="btn btn-control" id="program-fullscreen">
                <i class="fa fa-expand"></i>
            </button>
        </div>
    </footer>

</div>