<div class="program-page theme-page full-page">

    <header class="program-header">

    </header>
    <section class="program-start full-page theme-blue-dark" ng-if="current.type == 'start'">
        <div class="container">
            <div class="program-title-holder align-center">
                <h2 class="program-title">{{program.title}}</h2>
            </div>
            <div class="program-buttons align-center">
                <button class="btn btn-border-primary btn-lg" ng-click="next()">Start Brightstorm</button>
            </div>
        </div>
    </section>
    <section class="program-start full-page theme-green" ng-if="current.type == 'intro'">
        <div class="container">
            <div class="program-title-holder align-center">
                <h2 class="program-title">Waar gaan we vandaag over nadenken?</h2>
                <p class="program-description">Bespreek kort de uitdaging.</p>
            </div>
            <timer-widget></timer-widget>
        </div>
    </section>
    <section class="program-start full-page theme-pink" ng-if="current.type == 'rules'">
        <div class="container">
            <div class="program-title-holder align-center">
                <h2 class="program-title">Brightstorm Spelregels</h2>
                <p class="program-description">Volledige vrijheid is niet altijd goed.</p>
            </div>
            <div class="program-buttons">
                <button class="btn btn-primary btn-lg">Bekijk</button>
                <button class="btn btn-border-primary btn-lg" ng-click="next()">Sla over</button>
            </div>
        </div>
    </section>

    <footer class="program-footer">
        <div class="pull-left">
            <button class="btn btn-control" id="program-previous"
                    ng-click="previous()" ng-disabled="!previousStep">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button class="btn btn-control" id="program-pause" ng-disabled="!current.time">
                <i class="fa fa-pause"></i>
            </button>
            <button class="btn btn-control" id="program-sound">
                <i class="fa fa-volume-up"></i>
            </button>
            <p class="footer-text footer-title">Brightstorming</p>
        </div>
        <div class="pull-right">
            <p class="footer-text footer-time">15:31</p>
            <button class="btn btn-control" id="program-next"
                    ng-click="next()" ng-disabled="!nextStep">
                <i class="fa fa-chevron-right"></i>
            </button>
            <button class="btn btn-control" id="program-fullscreen">
                <i class="fa fa-expand"></i>
            </button>
        </div>
    </footer>

</div>